<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <title>
        <%= product.name %>
    </title>
    <style>
        div.product_card {
            margin: auto;
            width: 70%;
            position: relative;
        }
        div.image {
            position: relative;
            left: 0%;
            display: block;
            max-width: 300px;
            max-height: 300px;
            height: 60%;
        } 
        div.basic {
            position: relative;
            right: 0%;
            display: inline;
            height: 20%;
        }
        div.description {
            position: relative;
        }
        img {
            max-width: 300px;
            max-height: 300px;
        }
    </style>
</head>

<body>
    <%- include("navbar") %>

        <div class="product_card">
            <div class="image">
                <img src="http://localhost:3000/image/<%- product.id %>.png" alt="Unable to load the image.">
            </div>
            <%= message %>
            <div class="basic">
                <span>
                    <%= product.name %>
                </span>
                <ul>
                    <li>
                        <%- (product.price / 100).toFixed(2) %>
                    </li>
                    <% if (user.id) {%>
                        <li>
                            <form method="post" action="/checkout/<%- user.id %>/<%- product.id %>">
                                <input type="number" id="amount" name="amount" min="1" max="<%=product.amount%>">
                            </form>
                            <button onclick="addToBasket(<%= user.id %>, <%= product.id%>)"> Dodaj do koszyka</button>
                        </li>
                        <li>
                            <form method="post" action="/favourites/<%- user.id %>/<%- product.id %>">
                                <button type="submit"> Obserwuj </button>
                            </form>
                        </li>
                        <% } %>
                            <% if (user.isAdmin) { %>
                                <li>
                                    <form method="post" action="/products/<%- product.id %>">
                                        <button type="submit"> Edytuj </button>
                                    </form>
                                </li>
                                <li>
                                    <form method="post" action="/products/<%- product.id %>">
                                        <input hidden="true" value="DELETE" name="method">
                                        <button type="submit"> Usuń </button>
                                    </form>
                                </li>
                                <% } %>

                </ul>
            </div>

            <div class="description">
                <p>
                    <%= product.description %>
                </p>
            </div>

        </div>


    <script>

        let input = document.getElementById('amount')
        console.log(input)
        input.addEventListener('change', event =>{
            if (Number(input.value) > Number(input.max)) {
                input.value = input.max
            }

            if (Number(input.value) <= 0) {
                input.value = 1
            }
        })

        function addToBasket(user_id, product_id) {
            let amount = document.getElementsByName("amount")[0].value;
            axios.post(`/checkout/${user_id}/${product_id}`, { amount: amount }).then( res => {
                if (res.status == 200) {
                    alert("Produkt dodany do koszuka!");
                }
                else {
                    alert("Operacja nie udała się.");
                }
            })
        }
    </script>

</body>

</html>