<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <title>
        <%= product.name %>
    </title>
    <style>
        div.product_card {
            margin: auto;
            width: 400px;
            /*position: relative;*/
        }

        div.image {
            /*position: relative;*/
            left: 0%;
            display: block;
            max-width: 300px;
            max-height: 300px;
            height: 60%;
        }

        div.basic {
            /*position: relative;*/
            right: 0%;
            display: inline;
            height: 20%;
        }

        div.description {
            padding: 10px;
            width: auto;
            border: 1px solid black;
            position: relative;
        }

        img {
            max-width: 300px;
            max-height: 300px;
        }
        ul{
            padding: 10px;
            border: 2px solid gray;
        }
    </style>
</head>

<body>
<%- include("navbar") %>

<div class="product_card">
    <div class="image">
        <img src="http://localhost:3000/image/<%- product.id %>.png" alt="Unable to load the image.">
    </div>
    <%= message %>
    <div class="basic">
        <ul>
            <li>
                <%= product.name %>
            </li>

            <li>
                Cena: <%- (product.price / 100).toFixed(2) %>

            </li>
            <% if (user.id) { %>
                <li>
                    <input type="number" id="amount" name="amount" min="1" max="<%= product.amount %>">
                    <button onclick="addToBasket(<%= user.id %>, <%= product.id %>)"> Dodaj do koszyka</button>
                </li>
            <% } %>
            <% if (user.isAdmin) { %>
                <li>
                    <form method="post" action="/products/<%- product.id %>">
                        <button type="submit"> Edytuj</button>
                    </form>
                </li>
                <li>
                    <form method="post" action="/products/<%- product.id %>">
                        <input hidden="true" value="DELETE" name="method">
                        <button type="submit"> Usuń</button>
                    </form>
                </li>
            <% } %>

        </ul>
    </div>

    <div class="description">
        <p>
            <%= product.description %>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.


        </p>
    </div>

</div>


<script>

    let input = document.getElementById('amount')
    console.log(input)
    input.addEventListener('change', event => {
        if (Number(input.value) > Number(input.max)) {
            input.value = input.max
        }

        if (Number(input.value) <= 0) {
            input.value = 1
        }
    })

    function addToBasket(user_id, product_id) {
        let amount = document.getElementsByName("amount")[0].value;
        axios.post(`/checkout/${user_id}/${product_id}`, {amount: amount}).then(res => {
            if (res.status == 200) {
                alert("Produkt dodany do koszuka!");
            } else {
                alert("Operacja nie udała się.");
            }
        })
    }
</script>

</body>

</html>