<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        img {
            width: inherit;
            height: inherit;
        }

        div.product_list {
            width: 50%;
            margin: auto;
        }

        div.product_tile {
            margin: 50px;
            position: relative;
            border: 5px solid gray;
            height: 150px;
        }

        div.image {
            position: absolute;
            width: 150px;
            right: 0%;
            height: 100%;
        }

        div.name {
            position: relative;
            margin: 10px;
            padding: 10px;
            display: inline;
            right: 0%;
        }

        div.price {
            position: relative;
            margin: 10px;
            padding: 10px;
            display: block;
            right: 0px;
        }
    </style>
</head>

<body>
    <%- include("navbar") %>
        <div class="product_list">
            <ul>
                <% for(let i=0; i < array.length; i++) { %>
                    <li>
                        <div class="product_tile">

                            <div class="image">
                                <img src="http://localhost:3000/image/<%- array[i].id %>.png"
                                    alt="Unable to load the image.">
                            </div>
                            <div class="info">
                                <div class="name">
                                    <a href="/products/<%- array[i].id %>"> <%= array[i].name %> </a>
                                </div>
                                <div class="price">
                                    Cena: <%= (array[i].price / 100).toFixed(2) %>
                                </div>
                            </div>


                        </div>
                    </li>
                    <% } %>

            </ul>
        </div>
</body>

</html>